*
result
**/result
tmp
**/tmp
pictures/
avatars/
uploads/
spring92.db
.PASSKEY.txt
!.gitignore
!LICENSE
!README.md
!OLD_TODO.md
!TODO.org
!DEPS.md
!logo/
!logo/**

!flake.nix
!flake.lock
!nimpkgs/
!nimpkgs/flake.nix
!nimpkgs/flake.lock

!src/
!src/**
!src/database/
!src/database/**
!src/routes/
!src/routes/**
!templates/
!templates/**
!static/
!static/**

!sql
!sql/**.sql
!sql/**.nu

!reset_password.sh

!migrate.nu
