<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Spring92{% endblock %} | Spring92 Challenge</title>

  <!-- Favicon/PWA -->
  <link rel="icon" type="image/png" href="/branding/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/branding/favicon.svg" />
  <link rel="shortcut icon" href="/branding/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/branding/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Spring92" />
  <meta name="theme-color" content="#fff3a5" />
  <link rel="manifest" href="/branding/site.webmanifest" />

  <!-- Preload branding -->
  <link rel="preload" as="image" href="/branding/logo.png"/>
  <link rel="preload" as="image" href="/branding/landing.webp?v=c51440de"/>

  <!-- Preload Larken fonts -->
  <link rel="preload" href="/fonts/larken/Larken-Regular.otf" as="font" crossorigin>
  <link rel="preload" href="/fonts/larken/Larken-Bold.otf" as="font" crossorigin>
  <link rel="preload" href="/fonts/larken/Larken-Italic.otf" as="font" crossorigin>
  <link rel="preload" href="/fonts/larken/Larken-BoldItalic.otf" as="font" crossorigin>
  
  <!-- Preload Athelas fonts -->
  <link rel="preload" href="/fonts/athelas/Athelas-Regular.ttf" as="font" crossorigin>
  <link rel="preload" href="/fonts/athelas/Athelas-Bold.ttf" as="font" crossorigin>
  <link rel="preload" href="/fonts/athelas/Athelas-Italic.ttf" as="font" crossorigin>
  <link rel="preload" href="/fonts/athelas/Athelas-BoldItalic.ttf" as="font" crossorigin>

  <!-- EB Garamond font (for numbers) -->
  <link rel="preload" href="/fonts/eb-garamond/EBGaramond-Regular.ttf" as="font" crossorigin>
  
  <!-- CSS files -->
  <link rel="stylesheet" href="/css/style.css?v=k3l6n2o2">
  
  <script src="/js/htmx.js"></script>
  <script src="/js/password-toggle.js"></script>
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% importnimja "partials/_header.jinja" %}
  
  <main id="app" class="container" hx-boost="true" hx-target="#app" hx-select="#app" hx-swap="outerHTML">
	{% block content %}{% endblock %}
	{% block extra_js %}{% endblock %}
  </main>
   
  {% importnimja "partials/_footer.jinja" %}
</body>
</html>
