{% extends "partials/_master.jinja" %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
<article>
  <section>
    <h1>Leaderboard</h1>
    <p>Track everyone's progress towards the Spring92 goal!</p>
  </section>
	
	{% if success_message.is_some() %}
		<div class="success solid">
			{{success_message.get()}}
		</div>
	{% endif %}
	
	<div id="leaderboard-table">
		{% if user_stats.len() > 0 %}
			<table>
				<thead>
					<tr>
						<th>Rank</th>
						<th>Walker</th>
						<th>Miles</th>
						<th>Progress</th>
					</tr>
				</thead>
				<tbody>
					{% importnimja "leaderboard_table.jinja" %}
				</tbody>
			</table>
			{% else %}
			<p class="no-walkers">
				No walkers yet. Be the first to <a href="/signup">sign up</a>!
			</p>
		{% endif %}
	</div>
</article>
{%endblock%}
