{% for post in posts %}
	<div class="post-card" id="post-card-{{post.id}}">
		<div class="post-header">
			<div class="post-meta">
				{% let name = post.walker.name %}
				{% let avatar_filename = post.walker.avatar_filename %}
				{% importnimja "partials/_walker_avatar.jinja" %}
				<small class="numbers post-date">{{post.created_at.format_date_with_ordinal()}}</small>
			</div>
			{% if session.is_some() and post.walker.id == session.get().walker_id %}
				<div class="post-actions">
					<button class="secondary outline post-action-btn" onclick="editPost({{post.id}})">Edit</button>
				</div>
			{% endif %}
		</div>
		
		<div class="post-text-content">{{post.text_content}}</div>
		
		{% if post.image_filename != "" %}
			<div class="post-image">
				<img
					src="/pictures/{{post.image_filename}}"
					alt="Post image"
					loading="lazy"
				>
			</div>
		{% endif %}
	</div>
{% endfor %}
{% if has_more %}
	<div id="load-more-posts"
		hx-get="/api/post-feed?page={{next_page}}"
		hx-trigger="click"
		hx-target="this"
		hx-swap="outerHTML"
		hx-select="unset"
	>
		<button class="btn load-more-btn">Load More</button>
	</div>
{% endif %}
